<div class="background shadow-2 flex overflow-hidden">
  <app-side-bar></app-side-bar>

  <div class="bg-very-light-grey p3 flex-auto overflow-auto">
    <h1 class="regular darkgray line-height-1 mb3">Energy consumption</h1>

    <section class="mb3 filters">
      @for (filter of api.filters; track filter.value) {
        <button
          (click)="setFilter(filter.value)"
          class="h5 inline-block shadow-2 pl2 pr2 pt1 pb1 roundedMore border-grey bold"
          [class.bg-blue]="api.activeFilter() === filter.value"
          [class.white]="api.activeFilter() === filter.value"
          [class.bg-white]="api.activeFilter() !== filter.value"
          [class.darkgray]="api.activeFilter() !== filter.value"
        >
          {{ filter.label }}
        </button>
      }
    </section>

    <section class="chartHeight mb4">
      <app-chart [chartData]="api.filteredData()"></app-chart>
    </section>

    <app-stats></app-stats>
  </div>
</div>